@page "/"
@page "/homepage"

<div class="d-flex min-vh-100 align-items-center justify-content-center">
    <div class="container">

        <!-- TOP CONTENT -->
        <div class="row justify-content-between">
            <div class="col-12 col-xl-6 d-flex flex-column align-items-center justify-content-center gap-4">
                <img src="img/img1.png" alt="Image" height="500px" />
                @* <div class="d-flex flex-column align-items-center gap-4">
                    <a href="#">Log In</a>
                    <a href="/createuser">Create Account</a>
                </div> *@
            </div>

            <div class="col-12 col-xl-6 align-self-center d-flex flex-column gap-4">
                <div class="d-flex flex-column">
                    <h1>Dormie</h1>
                    <p>Where Seeker's Go</p>
                </div>
                <strong>
                    Dormie is a portal to seek for a shelter that you can feel safe and feel at home
                </strong>
            </div>
        </div>
        <!-- BOTTOM TEXT -->
        <div class="text-center middle-text">
            <p>
                Dormie helps you find a room without inconvenience while building a united relations between borders and owners
            </p>
        </div>
    </div>
</div>



@code {

}
